spring:
  datasource:
    url: jdbc:postgresql://localhost:PORT/DATABASE_NAME
    username: USERNAME
    password: PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect